Repository sibiraj-s/react-layout-masonry: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,mjs,cjs,jsx,ts,tsx}':
  - eslint --fix
  - prettier --write

'*.{html,css,scss,md,mdx,json,yml,yaml,astro}':
  - prettier --write

Bump devDependencies
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Due: prettier --write

Update docs accent color
  docs/tailwind.config.ts
Due: eslint --fix, prettier --write

Bump dependencies
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Due: prettier --write

Bump devDependencies
  package-lock.json
  package.json
Due: prettier --write

Bump docs dependencies
  docs/package-lock.json
  docs/package.json
Due: prettier --write

Update CI runtime and actions
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

Exclude docs from build
  tsconfig.json
Due: prettier --write

Update astro to v4
  docs/package-lock.json
  docs/package.json
Due: prettier --write

Remove dist directory before push
  .husky/pre-push
Due: none

Disable i18n warning
  docs/src/content/config.ts
Due: eslint --fix, prettier --write

Bump dependencies
  docs/package-lock.json
  docs/package.json
  docs/src/components/ExampleAnimated.astro
  docs/src/components/ExampleFixed.astro
  docs/src/components/ExampleResponsive.astro
  package-lock.json
  package.json
Due: prettier --write

Update workflows
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

Add support for react 19
  package-lock.json
  package.json
Due: prettier --write

Bump dependencies
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
  src/Masonry.tsx
Due: eslint --fix, prettier --write

Cleanup git hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

Add use-client to Masonry component
  src/Masonry.tsx
Due: eslint --fix, prettier --write

Fix lock files
  docs/package-lock.json
  package-lock.json
Due: prettier --write

Bump dependencies
  docs/package-lock.json
  docs/package.json
Due: prettier --write

Release v1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update nodejs to v22
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write

Update to eslint v9
  .eslintrc.yml
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Update to react 19
  docs/package-lock.json
  docs/package.json
  docs/src/components/pure/AnimatedCard.tsx
  docs/src/components/pure/AnimatedLayout.tsx
  package-lock.json
  package.json
  src/Masonry.tsx
Due: eslint --fix, prettier --write

Replace eslint with oxlint
  .lintstagedrc.yml
  docs/package-lock.json
  docs/package.json
  docs/src/components/AnimatedCard.tsx
  docs/src/components/AnimatedLayout.tsx
  docs/src/components/Card.tsx
  docs/src/components/Demo.tsx
  docs/src/components/ExampleAnimated.astro
  docs/src/components/ExampleFixed.astro
  docs/src/components/ExampleResponsive.astro
  docs/src/components/FixedLayout.tsx
  docs/src/components/ResponsiveLayout.tsx
  docs/src/components/images.ts
  docs/src/components/random-author.ts
  docs/src/content/docs/examples/animated.mdx
  docs/src/content/docs/examples/fixed.mdx
  docs/src/content/docs/examples/responsive.mdx
  eslint.config.js
  package-lock.json
  package.json
  src/breakpoints.ts
Due: eslint --fix, prettier --write

Remove eslint comments
  test/useMasonry.spec.tsx
Due: eslint --fix, prettier --write

Regenerate lock file
  package-lock.json
Due: prettier --write

Regenerate lock file
  docs/package-lock.json
Due: prettier --write

Install prettier
  docs/package-lock.json
  docs/package.json
Due: prettier --write

Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Set window width on client side
  src/useWindowWidth.ts
Due: eslint --fix, prettier --write

Add default value for window width in 0
  src/useWindowWidth.ts
Due: eslint --fix, prettier --write

Bump devDependencies
  .oxlintrc.json
  package-lock.json
  package.json
  tsdown.config.ts
Due: eslint --fix, prettier --write

Update workflows trigger syntax
  .github/workflows/npmpublish.yml
  .github/workflows/pages.yml
  .github/workflows/tests.yml
Due: prettier --write
